/*====================== Базовый css для страницы ====================*/
* {
    margin: 0;
    padding: 0;
    /* Устанавливаем 'bottom' в 0, но это не является стандартным свойством CSS и, возможно, лишним. */
    outline: 0; /* Убираем контурные линии при фокусировке (фокусировка по умолчанию) */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; /* Учитываем padding и border в ширине элемента */
}

/* :root позволяет определить CSS-переменные (пользовательские свойства) для дальнейшего использования. */
:root {
    --color-primary: #497bdc;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: #3f0000;
    --color-white: #fff;
    --color-light: #fdfcea;
    --color-black: #000;
    --color-bg: #e7ebf9;
    --color-bg1: #d1e1fe;
    --color-bg2: #13c3f4;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;   /* 1rem равен 16 пикселям, 6 rem * 16 пикселей/rem = 96 пикселей */
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem; /* 38.4 пикселей */
}

h2 {
    font-size: 2rem; /* 34 пикселей */
}

h3 {
    font-size: 1.6rem; /* 25.6 пикселей */
}

h4 {
    font-size: 1.3rem; /* 20.8 пикселей */
}

a {
    color: var(--color-black);
}

/* object-fit позволяет управлять поведением изображения внутри элемента. */
img {
    width: 100%;
    display: block;
    object-fit: cover; /* Изображение заполняет контейнер, сохраняя пропорции и обрезая, если не помещается */
}

.btn {
    display: inline-block;
    background: var(--color-light);
    color: var(--color-black);
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 10px;
}

.btn:hover {
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-danger);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/* ============================ Navbar ================================= */
nav {
    background: transparent;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* заменяет бэграунд при скролле вниз при помощи js*/
.window-scroll {
    background: var(--color-bg1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_container h4 {
    color: var(--color-primary);
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;   /* расстояние между содержимым внутри менюшки */
}

.nav_menu a {
    font-size: 0.9rem;
    transition: var(--transition);
    font-weight: 700;
}

.nav_menu a:hover {
    color: var(--color-primary);
}

/* ============================ Header ================================= */
header {
    position: relative;
    top: 80px;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 80px;
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fr-фракция, деление 50/50 */
    align-items: center;
    gap: 80px;
    height: 100%;
}

.header_left h3 {
    color: var(--color-danger);
}

.header_left p {
    margin: 1rem 0 2.4rem ;
}

.header_right{
    margin-top: 20px;
}


/* ============================ Categories ================================= */
.price_categories {
    background: var(--color-white);
    height: 32rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories_left {
    margin-right: 2rem;
}

.categories_left p {
    margin: 1rem 0 3rem;
}

.categories_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.category {
    background: var(--color-bg1);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category ul > li{
    list-style: disc;
    font-size: 13px;
    font-weight: 600
}

.category h4 {
    font-size: 20px;
}

.category h5 {
    margin: 1rem 0;
    color: var(--color-danger);
}


/* ============================ Popular advantages ================================= */
.advantages {
    margin-top: 10rem;
}

.advantages_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.advantage {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.advantage:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.advantage_image img {
    height: 220px;
}

.advantage_info {
    padding: 2rem;
}

.advantage_info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}


/* ============================ FAQs ================================= */
.faq {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-bg1);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq_icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
    min-height: 81px;
}

/* ========================== company ==================== */
.about_company {
    margin-top: 3rem;
}

.about_company-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about_company-container p {
    margin: 1rem;
}

.about_company-left img{
    width: 85%;
}

.about_company-right {
    padding: 2rem 1rem 0;
}

.about_company-right span {
    color: var(--color-primary);
}
/* ============================ Footer ================================= */
footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer_container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 70% 30%;
}

.footer_1,.footer_2 {
    margin: 0 1rem;
}

.footer_container > .footer_1 h4 {
    color: var(--color-primary);
}
.footer_container > div h4 {
    margin-bottom: 1.2rem;
}

:is(.footer_1,.footer_2)  p {
    margin-bottom: 1rem;
    font-weight: 500;
}

.footer_2 span {
    color: var(--color-danger);
    font-weight: 600;
}

.footer_copyright {
    text-align: center;
    margin-top: 2rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2)
}

/* ============================ Адаптивная верстка (Планшет) ================================= */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* ==================== Navbar ===================== */

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-bg2);
        cursor: pointer;
        border: none;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav_menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav_menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav_menu li:nth-child(2){
        animation-delay: 200ms;
    }

    .nav_menu li:nth-child(3){
        animation-delay: 400ms;
    }

    .nav_menu li:nth-child(4){
        animation-delay: 600ms;
    }

    @keyframes animateNavItems {
        from {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        to {
            transform: rotateZ(0deg) rotateX(0deg) scale(1);
            opacity: 1;
        }
    }

    .nav_menu li a{
        width: 100%;
        height: 100%;
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        display: grid;
        place-items: center;
    }

    .nav_menu li a:hover {
        background:  var(--color-bg2);
        color: var(--color-white);
    } 

    /* ======================= Header ======================== */
    header {
        height: auto;
        margin-bottom: 4rem;
    }

    .header_container {
        gap: 0;
        padding-bottom: 3rem;
    }

    .header_left p {
        margin: 1rem 0 1.4rem;
    }

    /* ======================= Categories ======================== */
    .price_categories {
        height: auto;
    }

    .categories_container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories_left {
        margin-right: 0;
    }

    /* ======================= Popular advantages ======================== */
    .advantages {
        margin-top: 0;
    }

    .advantages_container {
        grid-template-columns: 1fr 1fr;
    }

    /* ======================= FQA ======================== */
    .faqs_container {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }

    /* ======================= Footer ======================== */
    .about_company {
        margin-top: 2rem;
    }

    .about_company-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about_company-left {
        width: 80%;
        margin: 0 auto;
    }

    /* ======================= Footer ======================== */
    .footer_container {
        grid-template-columns: 1fr 1fr;
    }
}

/* ============================ Адаптивная верстка (Phones) ================================= */
@media screen and (max-width: 650px){
    .container {
        width: var(--container-width-sm);
    }

    .btn {
        padding: 7px 10px;
    }

    /* ======================= Navbar ======================== */
    .nav_menu {
        right: 3%;
    }

    .whatsapp {
        display: none;
    }

    /* ======================= Navbar ======================== */

    .header_container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header_left {
        margin-bottom: 3rem;
    } 

    /* ======================= Categories ======================== */
    .categories_right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category {
        padding: 1rem;
        border-radius: 1rem;
    }

    .category ul > li {
        list-style: none;
    }

    /* ======================= Popular advantages ======================== */
    .advantages_container {
        grid-template-columns: 1fr;
    }

    /* ======================= Testimonials ======================== */
    .testimonial_body {
        padding: 1.2rem;
    }

    /* ======================= Footer ======================== */
    .footer_container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer_1 p{
        margin: 1rem auto;
    }

    .footer_2 a{
        display: none;
    }
}
